{:paths
 ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.12.0"}}

 :aliases
 {:build
  {:deps {org.clojure/clojure {:mvn/version "1.12.0"}
          io.github.clojure/tools.build {:mvn/version "0.10.7"}
          io.github.slipset/deps-deploy {:git/sha "07022b92d768590ab25b9ceb619ef17d2922da9a"}
          ;; Override deps-deploy RELEASE dependency to avoid https://github.com/qos-ch/slf4j/issues/422
          org.slf4j/slf4j-nop {:mvn/version "2.0.17"}}
   :ns-default build}

  :manifold
  {:extra-deps {manifold/manifold {:mvn/version "0.4.3"}}}

  :repl
  {:extra-paths ["dev" "test"]
   :extra-deps {org.clojure/tools.namespace {:mvn/version "1.5.0"}
                mvxcvi/puget {:mvn/version "1.3.4"}}
   :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts ["-e" "(require,'puget.printer)"
               "-e" "(require,'clojure.stacktrace)"
               "-e" "(clojure.main/repl,:init,#(do,(require,'ken.repl),(in-ns,'ken.repl)),:print,puget.printer/cprint,:caught,clojure.stacktrace/print-cause-trace)"]}

  :check
  {:extra-deps {io.github.athos/clj-check {:git/sha "d997df866b2a04b7ce7b17533093ee0a2e2cb729"}}
   :main-opts ["-m" "clj-check.check" "src"]}

  :test
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-paths ["test"]
   :extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
   :main-opts ["-m" "cloverage.coverage"
               "--src-ns-path" "src"
               "--test-ns-path" "test"]}}}
